.flex{
    display: flex;
    flex-direction: row;
    padding: 3em;
    margin: 3em;
    justify-content: center;
    justify-content: space-between;

}
#signin{
    background:rgb(43, 145, 247);
}

form{
    margin-top: 2em;
}

label{
    padding: 7px 0px;
    display: block;
    font-family: Open Sans Condensed", "system-ui", sans-serif";
}

.email{
    transition: all 220ms cubic-bezier(0.15, 0.48, 0.56, 0.98) 0s;
}
input{
    text-decoration: none;
    display: block;
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 1em 1em 0em 0em;

}

button{
    
    margin-top: 2em;
    
    font-family: Agency FB;
    font-size: 18px;
    
}

#btn-google{
    background: rgb(70, 143, 239);
    border: none;
    padding: 15px 3.5em;
    cursor: pointer;

}
#btn-google:hover{
    background: rgb(46, 104, 237);
}

#btn-signin{
    background: #000;
    border: none;
    color: white;
    padding: 15px 5em;
    cursor: pointer;
}

#btn-signin:hover{
    background: rgb(255, 255, 255);
    color: black;
    transition: ease-in-out .4s;
    transform: .7s;
    -webkit-transition: ease-in-out .4s;
    -moz-transition: ease-in-out .4s;
    -ms-transition: ease-in-out .4s;
    -o-transition: ease-in-out .4s;
    -webkit-transform: .7s;
    -moz-transform: .7s;
    -ms-transform: .7s;
    -o-transform: .7s;
}
.buttonFlex{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

