*{
    margin: 0;
}

a{
    text-decoration: none;
}
.Navbar{
    /* overflow: hidden; */
    box-shadow: 3px 1px 15px -9px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    /* margin: 0; */
}




.logo img{
    display: flex;
    height: 50px;
    margin-left: 40px;
    align-items: center;
    
}
.menu{
    display: flex;
    margin-bottom: 0px;
    margin-right: 5%;
    /* overflow: clip  ; */
    align-items: center;
    text-decoration: 0px;
}

.menu ul{
    
    display: inline-block;
    display: flex;
    flex-direction: row;
    ;
    
}

.menu li {
    text-decoration: none;
    display: block;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.menu li:hover{
    /* color: rgb(233, 228, 228); */
    border-radius: 5px;
    /*margin: 5px 0px 5px 0px;
    */-webkit-border-radius: 10px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;

    
}


.cartContainer{

    background-color: white;
    display: flex;
    justify-content: center;
    margin-left: -15%;
    width: 13%;
    height: 15em;
    border: 2px solid;
    padding: 2em;
    position: absolute;
    
    /* display: none; */

    
}

.cart{
    display: flex;

    flex-direction: column;
  
    justify-content: center;
}

.btn{
    
    font-family: Agency FB;
    font-size: 18px;
}


.btn-checkout{
    
    background: #000;
    border: none;
    color: white;
    border: 1px solid;
    padding: 15px 25px;
    cursor: pointer;
    
}

.btn-checkout:hover{
    background: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
    transition: ease-in-out .4s;
    transform: .7s;
    -webkit-transition: ease-in-out .4s;
    -moz-transition: ease-in-out .4s;
    -ms-transition: ease-in-out .4s;
    -o-transition: ease-in-out .4s;
    -webkit-transform: .7s;
    -moz-transform: .7s;
    -ms-transform: .7s;
    -o-transform: .7s;
}